.delivery_container {
  max-width: 100%;
  padding: 21px;
  padding-bottom: 0;
  overflow: hidden;
  display: flex;
  /* flex-flow: column; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

.form_cont {
  display: flex;
  flex-flow: column;
  border: 5px solid #DD9E23;
  padding: 1px 2px 1px 2px;
  margin-bottom: 10px;
  align-items: center;
  background-color: #FFFCEB;
}

.form_title {

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 23px;
  text-align: center;

  color: #000000;
}

.label1 {
  width: 240px;
  height: 67px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  position: relative;
  z-index: 1;
  cursor: pointer;

}

.label1::before {
  content: url("../../images/Vector3.7.png");
  display: block;
  margin: 0;
  position: absolute;
  opacity: 0;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 14px;
  z-index: 11;
  cursor: pointer;
}


.form_flex {
  display: flex;
  justify-content: space-between;
}

.form_agree {
  opacity: 0;
  width: 40px;
  position: absolute;
  z-index: 111;
  cursor: pointer;
}


.label1_text {
  margin: 0;
  white-space: pre-line;
  margin-left: 51px;
  width: 213px;
}

.form_agree:checked+.label1::before {
  opacity: 1;
}


.label2_text {
  width: 256px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.label3_text {
  width: 227px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
  margin-left: 51px;
  width: 213px;
  position: relative;
}

.form_data {
  position: absolute;
}

.data_block {
  margin-bottom: 20px;
}

.select_desct {
  width: 263px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.select_desct2 {
  width: 263px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.inputNumber {
  border: 2px solid #DD9E23;
  padding: 10px 20px;
  width: 272px;
}

.select_desct3 {
  width: 263px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.input_adress_form {
  width: 272px;
  border: 2px solid #DD9E23;
  padding: 1px 20px;
  width: 272px;
  height: 42px;
  margin-bottom: 10px;

}

.input_adress_form::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
}

.label2 {
  width: 240px;
  height: 67px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.label2::before {
  content: url("../../images/Ellipse2.4.png");
  display: block;
  margin: 0;
  position: absolute;
  opacity: 1;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 3px;
  z-index: 11;
  cursor: pointer;
}

.form_data {
  opacity: 0;
  width: 40px;
  position: absolute;
  z-index: 111;
  cursor: pointer;
}

.label3_text {
  margin: 0;
  white-space: pre-line;
  margin-left: 51px;
  width: 213px;
}

.form_data:checked+.label2::after {
  opacity: 1;
}

.label2::after {
  content: url("../../images/Ellipse3.1.png");
  display: block;
  margin: 0;
  position: absolute;
  opacity: 0;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 8px;
  top: 1px;
  z-index: 11;
  cursor: pointer;
}

.form_agree1 {
  opacity: 0;
  width: 40px;
  position: absolute;
  z-index: 111;
  cursor: pointer;
}

.label3_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.label3::before {
  content: url("../../images/Vector3.7.png");
  display: block;
  margin: 0;
  position: absolute;
  opacity: 0;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 17px;
  z-index: 11;
  cursor: pointer;
}

.label3::after {
  content: url("../../images/Rectangle.png");
  display: block;
  margin: 0;
  position: absolute;
  opacity: 1;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 14px;
  top: 0;
  z-index: 11;
  cursor: pointer;
}

.label3 {
  position: relative;
}

.form_agree1:checked+.label3::before {
  opacity: 1;
}

.form_agree2 {
  opacity: 0;
  width: 40px;
  position: absolute;
  z-index: 111;
  cursor: pointer;
}

.label4_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-left: 51px;
  color: #000000;
}

.label4::before {
  content: url("../../images/Vector3.7.png");
  display: block;
  margin: 0;
  position: absolute;
  opacity: 0;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 17px;
  z-index: 11;
  cursor: pointer;
}

.label4::after {
  content: url("../../images/Rectangle.png");
  display: block;
  margin: 0;
  position: absolute;
  opacity: 1;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 14px;
  top: 0;
  z-index: 1;
  cursor: pointer;
}

.label4 {
  position: relative;
}

.form_agree2:checked+.label4::before {
  opacity: 1;
}

.final {
  position: relative;
}

.button {
  width: 282px;
  height: 53px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #A70B0B;
  box-shadow: 0px 0px 15px #DD9E23;
  border: none;
  margin-bottom: 20px;
}

.congliration {
  font-family: Vollkorn;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #000000;

}
