.overlay {
  z-index: 11111;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  overflow: auto;

}

.modal {

  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  overflow: auto;
  z-index: 1111;
  display: flex;
  flex-flow: column;
  /* justify-content: space-around; */
  align-items: center;
}
