.finsector_container {
  max-width: 100%;
  padding: 21px;
  padding-bottom: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;

}

.fin_sector_name {
  width: 291px;
  height: 16px;
  font-family: Vollkorn;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 10px 0px;
}

.fin_sector_name1 {
  width: 291px;
  height: 37px;
  font-family: Vollkorn;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;

}

.fin_sector_congratulations {
  width: 291px;
  height: 46px;
  font-family: Vollkorn;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #030303;

}

.fin_sector_red_title1 {
  width: 287px;
  height: 67px;
  font-family: Vollkorn;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #A70B0B;
  position: relative;
  z-index: 1;
}

.fin_sector_red_title1::after {
  content: url('../../images/Group4.png');
  margin: 0;
  display: block;
  z-index: 11;
  position: absolute;
  top: -8px;
  left: -29px;
}

.fin_sector_proud_of_you {
  width: 233px;
  height: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin-top: 36px;
  margin-left: 20px;
}

.fin_sector_p_f_y_descr1 {
  width: 284px;
  height: 83px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.fin_sector_p_f_y_descr2 {
  width: 284px;
  height: 83px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-top: 40px;
}

.num {
  color: #DD9E23;
  font-weight: bold;
}

.div_block {
  background: #F8E8AF;
  width: 330px;
  margin-left: -22px;
}

.fin_sector_block {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* background: #F8E8AF; */
  width: 231px;
  height: 73px;
  margin: 10px auto;
  margin-bottom: 0;
}

.fin_sector_p_f_y_descr3 {
  width: 284px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 10px;
}

.diplom1 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.button_dowload {
  width: 282px;
  height: 53px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #A70B0B;
  box-shadow: 0px 0px 15px #DD9E23;
  border: none;
  margin-bottom: 20px;
}

.diplom2 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.fin_sector_red_title2 {
  width: 321px;
  font-family: Vollkorn;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #A70B0B;
  position: relative;
  border: 5px solid #DD9E23;
  ;
  padding: 1px 2px 1px 2px;
  /* margin-right: -32px; */
  margin-left: -22px;
}
