.delivery_container {
  max-width: 100%;
  padding: 21px;
  padding-bottom: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.delivery_title {
  width: 291px;
  font-family: Vollkorn;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 10px 0px;
  margin-bottom: 43px;
  position: relative;
}

.delivery_title::after {
  content: url('../../images/Group4.png');
  margin: 0;
  display: block;
  z-index: 11;
  position: absolute;
  top: 26px;
  left: -29px;
}

.delivery_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  margin-right: auto;
}

.delivery_istruction {

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  white-space: pre-line;
}

.num {
  color: #DD9E23;
  font-weight: bold;
}

.delivery_istruction_border {

  font-family: Vollkorn;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #A70B0B;
  position: relative;
  border: 5px solid #DD9E23;
  padding: 1px 2px 1px 2px;
  /* margin-right: -32px; */

}

.delivery_button {
  width: 282px;
  height: 53px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #A70B0B;
  box-shadow: 0px 0px 15px #DD9E23;
  border: none;
  margin-bottom: 20px;

}

.copy {
  display: none;
}

.div_flex2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .delivery_istruction {
    width: 300px;
    position: relative;
  }

  .copy {
    display: block;
  }

  .div_flex {
    display: flex;
    flex-flow: row;
  }

  .delivery_button {
    display: none;
  }
}
